<div ng-controller="View1Ctrl" ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Jan">
        <md-content class="md-padding">
          <md-list>
            <md-list-item class="md-2-line">
              <h3 style="margin-top: 20px;margin-right: 18px;">12일</h3>
              <div class="md-list-item-text" layout="column">
                <h3>회비 입금</h3>
                <p>몽몽이</p>
                <h3 class="md-secondary" style="color: #3F51B5;font-weight: bold;">+ 450,000 원</h3>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line" style="padding-left: 16px;padding-right: 16px;">
              <h3 style="margin-top: 20px;margin-right: 18px;">13일</h3>
              <div class="md-list-item-text" layout="column">
                <h3>
                  1월 모임
                  <md-button class="md-raised md-mini" ng-click="showDetail($event)" style="min-width: 60px;">보기</md-button>
                </h3>
                <h3 class="md-secondary" style="color: #FF5252;font-weight: bold;">- 55,000 원</h3>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line">
              <h3  style="margin-top: 20px;margin-right: 18px;">14일</h3>
              <div class="md-list-item-text" layout="column">
                <h3>회비 입금</h3>
                <p>최누리</p>
                <h3 class="md-secondary" style="color: #3F51B5;font-weight: bold;">+ 10,000 원</h3>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line">
              <h3  style="margin-top: 20px;margin-right: 18px;">15일</h3>
              <div class="md-list-item-text" layout="column">
                <h3>회비 입금</h3>
                <p>B 언니</p>
                <h3 class="md-secondary" style="color: #3F51B5;font-weight: bold;">+ 110,000 원</h3>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line">
              <h3  style="margin-top: 20px;margin-right: 18px;">15일</h3>
              <div class="md-list-item-text" layout="column">
                <h3>회비 입금</h3>
                <p>B 언니</p>
                <h3 class="md-secondary" style="color: #3F51B5;font-weight: bold;">+ 110,000 원</h3>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line">
              <h3  style="margin-top: 20px;margin-right: 18px;">15일</h3>
              <div class="md-list-item-text" layout="column">
                <h3>회비 입금</h3>
                <p>B 언니</p>
                <h3 class="md-secondary" style="color: #3F51B5;font-weight: bold;">+ 110,000 원</h3>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line">
              <h3  style="margin-top: 20px;margin-right: 18px;">15일</h3>
              <div class="md-list-item-text" layout="column">
                <h3>회비 입금</h3>
                <p>B 언니</p>
                <h3 class="md-secondary" style="color: #3F51B5;font-weight: bold;">+ 110,000 원</h3>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line">
              <h3  style="margin-top: 20px;margin-right: 18px;">15일</h3>
              <div class="md-list-item-text" layout="column">
                <h3>회비 입금</h3>
                <p>B 언니</p>
                <h3 class="md-secondary" style="color: #3F51B5;font-weight: bold;">+ 110,000 원</h3>
              </div>
            </md-list-item>
          </md-list>
          <!--<md-button class="md-fab md-mini md-primary" id="elementAddButton" ng-click="showAdvanced($event)" style="display: inline-block;position: fixed;bottom: 40px;">-->
            <!--<md-icon md-svg-src="./img/icons/add64.svg" style="height:14px;"></md-icon>-->
          <!--</md-button>-->
          <div layout="column" style="background-color: #3F51B5;display: inline-block;position: fixed;bottom: 0px;left: 0px;width: 100%;padding-left:14px;padding-right:14px;">
            <h3 style="color: white;width: 50%;float:left;">잔액</h3>
            <h3 class="md-secondary" style="font-weight: bold;color: white;width: 50%;float:right;text-align: right;">250,000원</h3>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Feb">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Mar">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Apr">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="May">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Jun">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Jul">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Aug">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Sep">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Oct">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Nov">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Dec">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<style>
  @font-face {
    font-family:"icomoon";
    src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
    font-weight:normal;
    font-style:normal;
  }
  @font-face {
    font-family: 'icomoon';
    src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
    src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
</style>