<md-content ng-controller="AccountListController">
  <md-tabs md-dynamic-height md-border-bottom md-swipe-content="true">
    <md-tab ng-repeat="month in monthList" md-on-select="loadAccountBookItems(month.value)">
      <md-tab-label>{{month.name}}</md-tab-label>
      <md-tab-body>
        <div class="md-padding" id="listContent">
          <md-list>
            <md-list-item class="md-2-line" ng-repeat="item in accountBookItems">
              <h3 style="margin-top: 20px;margin-right: 18px;">{{item.day}}일</h3>
              <div class="md-list-item-text" layout="column">
                <h3>
                  {{item.title}}
                  <md-button ng-if="item.href" class="md-raised md-mini" ng-click="showDetail($event)" style="min-width: 60px;">보기</md-button>
                </h3>
                <p>{{item.subtitle}}</p>
                <h3 class="md-secondary" style="color: #3F51B5;font-weight: bold;">{{item.accountPlusMinus}} {{item.accountAmount}} 원</h3>
              </div>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>

  <div id="elementAddButtonBackground" style="background-color: white;border-radius:50%;height:50px;width: 50px;display: inline-block;position: fixed;bottom: 40px;z-index:1;">
  </div>
  <md-button class="md-fab md-mini md-primary" id="elementAddButton" ng-click="showAdvanced($event)" style="display: inline-block;position: fixed;bottom: 40px;z-index: 2;">
    <md-icon md-svg-src="./img/icons/add64.svg" style="height:14px;"></md-icon>
  </md-button>
  <div layout="column" style="background-color: #3F51B5;display: inline-block;position: fixed;bottom: 0px;left: 0px;width: 100%;padding-left:14px;padding-right:14px;">
    <h3 style="color: white;width: 50%;float:left;">잔액</h3>
    <h3 class="md-secondary" style="font-weight: bold;color: white;width: 50%;float:right;text-align: right;">250,000원</h3>
  </div>
</md-content>

<style>
  @font-face {
    font-family:"icomoon";
    src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
    font-weight:normal;
    font-style:normal;
  }
  @font-face {
    font-family: 'icomoon';
    src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
    src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
</style>